<?php
$db_hostname = "localhost";
$db_port     = 3306;
$db_database = "{{ mysql_db_name }}";
$db_username = "root";
$db_password = "{{ mysql_root_password }}";

// Image upload options
$storage_option = "hd";
$hd_folder  = "uploads";

// Simulate latency, in seconds
$latency = 0;

// Cache configuration
$enable_cache = true;
$cache_server = "localhost";
?>
